name: docker-image-push

on:
    push:
         branches:
            - main
permissions:
    id-token: write
    contents: read

env:
    login-server: icicicd.azurecr.io
    username: icicicd
    password: HEmtpjQSzDGqX63ALs/VURKXYojoFiRt9ks3saXXxL+ACRDTBkhU
jobs:

    acrjob:
         runs-on: ubuntu-latest
         steps:
            - name: checkout the code
              uses: actions/checkout@v3
              #log into azure
              # $role="contributor"
              # $serviceprincipalname = "iciciproj"
              # $resourcegroupname= "icicirg"
              # $subscriptionID= $(az account show --query id --output tsv)
              #  az ad sp create-for-rbac --role $role 
              #                           --name $serviceprincipalname
              #                           --scopes /subscriptions/$subscriptionID/resourceGroups/$resourcegroupname 
              #                           --sdk--auth
            - name: azure credentials
              uses: azure/login@v1
              with:
                    creds: ${{ secrets.AZURE_CREDS }}
             #       
            - name: docker credentials
              uses: azure/docker-login@v1
              with:
                    login-server: ${{env.login-server}}
                    username: ${{env.username}}
                    password: ${{env.password}}
            - name: building and psuhing image
              run:  |
                  docker build -t  icicicd.azurecr.io/iccdimg/helmimg:1.0
                  docker images
                  docker push icicicd.azurecr.io/iccdimg/helmimg:1.0
                  
            